
:root{
    --background: #FAFAFA;
    --red: #EC362D;
    --green: #009C22;
    --black: #000000;

    --blue: #434CA0;
    --violet: #A0438D;

    --text-title: #000000;
    --text-paragraf: #484848;
    --text-input: #B9B9B9;
    --button-text: #818181;

    --shape: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media (max-width: 1100px){
        font-size: 93,75%;
    }

    @media (max-width: 720px){
        font-size: 87,5%;
    }
}

body {
    -webkit-font-smooth: antialiased;
    font-family: 'Roboto', sans-serif;;
}

a{
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
}

[disabled]{
    opacity: 0.6;
    cursor: not-allowed;
}
